<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <intercept-url pattern="/customer/add*" access="hasAnyRole('ADMIN','MANAGER')"/>
        <intercept-url pattern="/customer/process-form*" access="hasAnyRole('ADMIN','MANAGER')"/>
        <intercept-url pattern="/customer/delete*" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/customer/**" access="hasRole('EMPLOYEE')"/>
        <intercept-url pattern="/resources/**" access="permitAll()"/>
        <access-denied-handler error-page="/error"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <beans:property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <beans:property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring_security_demo_bcrypt?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
        <beans:property name="user" value="springuser"/>
        <beans:property name="password" value="springuser"/>
    </beans:bean>
</beans:beans>
